Repository MFTabriz/slabcc: changes, and which Woodpecker steps are due for each by the changed paths.
All: build_slabcc, documentation, source_style, shell_scripts, makefiles, slabcc

Path conditions:
  build_slabcc: any of: bin/*, src/**, .woodpecker/.build_slabcc.yml, utils/install_pkgs.sh
  documentation: (any of: docs/*, utils/deploy_pages.sh, .woodpecker/.documentation.yml) or (any of: docs/*, .woodpecker/.lint.yml)
  source_style: any of: src/**/*.cpp, src/**/*.hpp, utils/format_check.sh, .clang-format, .woodpecker/.lint.yml
  shell_scripts: any of: utils/*.sh, .woodpecker/.lint.yml
  makefiles: any of: */**/makefile
  slabcc: any of: bin/*, src/**, tests/**, .woodpecker/.slabcc.yml, utils/install_pkgs.sh

trigger lint when config changes
  .woodpecker/.lint.yml
Due: documentation, source_style, shell_scripts

cleanup documentation
  docs/copyright.rst
  docs/intro.rst
  docs/issues.rst
  docs/manual.rst
  docs/validate.rst
  readme.rst
Due: documentation

cleanup extrapolation table
  src/slabcc.cpp
  src/slabcc_model.cpp
Due: build_slabcc, source_style, slabcc

add explicit dep for buildinfo in make
  bin/makefile
Due: build_slabcc, makefiles, slabcc

add ci dockerfiles
  .woodpecker/.lint.yml
  ci/.policy/ds026_exception.rego
  ci/dockerfile.almalinux.8.7
  ci/dockerfile.opensuse.leap.15.4
  ci/dockerfile.ubuntu.16.04
  ci/dockerfile.ubuntu.22.04
Due: documentation, source_style, shell_scripts

cleanup ci
  .woodpecker/.lint.yml
Due: documentation, source_style, shell_scripts

add ci container build
  .woodpecker/.ci_containers.yml
Due: none

add trigger to git checks
  .woodpecker/.lint.yml
Due: documentation, source_style, shell_scripts

fix dockerfile
  .woodpecker/.ci_containers.yml
  ci/dockerfile.almalinux.8.7
  ci/dockerfile.opensuse.leap.15.4
Due: none

mv install_pkg to setup_env
  utils/setup_env.sh
Due: shell_scripts

mv pkg install to containers
  utils/setup_env.sh
Due: shell_scripts

fix paths
  ci/dockerfile.almalinux.8.7
  ci/dockerfile.opensuse.leap.15.4
Due: none

use minimal test for containers
  .woodpecker/.ci_containers.yml
  ci/dockerfile.almalinux.8.7
  ci/dockerfile.opensuse.leap.15.4
Due: none

cleanup ci
  .woodpecker/.ci_containers.yml
Due: none

use containers for build/test
  .woodpecker/.slabcc.yml
Due: slabcc

cleanup dockerfiles
  .woodpecker/.slabcc.yml
  ci/.policy/ds002_exception.rego
  ci/dockerfile.almalinux.8.7
  ci/dockerfile.opensuse.leap.15.4
  ci/dockerfile.ubuntu.16.04
  ci/dockerfile.ubuntu.22.04
  utils/setup_env.sh
Due: shell_scripts, slabcc

. env setup
  .woodpecker/.slabcc.yml
  utils/setup_env.sh
Due: shell_scripts, slabcc

cleanup ci
  .woodpecker/.ci_containers.yml
  docs/manual.rst
  docs/validate.rst
  readme.rst
Due: documentation

refactor ci
  .woodpecker/.ci_containers.yml
Due: none

refactor ci
  .woodpecker/.ci_container.yml
Due: none

add ci linters to container
  .woodpecker/.ci_container.yml
  ci/dockerfile.slabcc_ci
Due: none

use new container in ci
  .woodpecker/.lint.yml
Due: documentation, source_style, shell_scripts

add link to intel toolchain dockerfile
  docs/manual.rst
  docs/validate.rst
  readme.rst
Due: documentation

set CLANG_FORMAT_EXEC in ci container
  .woodpecker/.documentation.yml
  .woodpecker/.lint.yml
  ci/dockerfile.slabcc_ci
Due: documentation, source_style, shell_scripts

install curl in ci container
  ci/dockerfile.slabcc_ci
Due: none

bump slabcc to v1.0.0
  .readme.rst.template
  docs/.manual.rst.template
  docs/manual.rst
  docs/release.rst
  readme.rst
  src/slabcc_info.hpp
Due: build_slabcc, documentation, source_style, slabcc

add parallel test
  .woodpecker/.slabcc.yml
Due: slabcc

log CI env
  src/inih/cpp/INIReader.cpp
Due: build_slabcc, source_style, slabcc

add parallelization verification
  .woodpecker/.slabcc.yml
Due: slabcc

log file renames
  .woodpecker/.slabcc.yml
  src/general_io.cpp
Due: build_slabcc, source_style, slabcc

update dockerfile links
  docs/manual.rst
  docs/validate.rst
  readme.rst
Due: documentation

update docs
  .readme.rst.template
  readme.rst
Due: none

add obtaining source section to install
  docs/install.rst
  docs/manual.rst
  readme.rst
Due: documentation

add link to manual in intro.
  docs/intro.rst
  docs/manual.rst
  readme.rst
Due: documentation

adapt link checker to pages env
  .woodpecker/.documentation.yml
Due: documentation

deploying pages
  index.html
Due: none

stop ci pipelines from failing
  .woodpecker.yml
Due: none
