Repository MFTabriz/slabcc: changes, and which Woodpecker steps are due for each by the changed paths.
All: build_slabcc, slabcc

build_slabcc:
  steps:
    build_minimal:
      image: ${TOOLCHAIN%% *}
      environment:
      - VERBOSE=1
      commands:
      - ./utils/install_pkgs.sh && . ./.env
      - cd ./bin/ && make --trace
      - ldd ./slabcc
      - ./slabcc -v

slabcc:
  steps:
    build:
      image: ${TOOLCHAIN%% *}
      environment:
      - VERBOSE=1
      commands:
      - ./utils/install_pkgs.sh && . ./.env
      - cd ./bin/ && ( make || make --trace )
      - ldd ./slabcc
      - ./slabcc --help
      - ./slabcc -v
      - ./slabcc --copyright
      - ./slabcc --man
    test:
  ...

pass VERBOSE only to failed builds
  .woodpecker/.slabcc.yml
Due: slabcc

docs cleanup
  docs/manual.rst
  readme.rst
Due: none

Update 'readme.rst'
  readme.rst
Due: none

reuse documentation in readme
  docs/cli.rst
  docs/copyright.rst
  docs/faq.rst
  docs/input.rst
  docs/install.rst
  docs/intro.rst
  docs/issues.rst
  docs/manual.rst
  docs/manual_template.rst
  docs/output.rst
  docs/quick_start.rst
  docs/release.rst
  docs/validate.rst
  readme.rst
  readme_template.rst
Due: none

add document regen script
  .readme.rst.template
  docs/.manual.rst.template
  utils/gen_docs.sh
Due: none

refactor docs generation
  .woodpecker/.documentation.yml
  docs/manual.rst
  docs/requirements.txt
  docs/validate.rst
  readme.rst
  utils/gen_docs.sh
  utils/generate_docs.sh
  utils/requirements.txt
Due: none

add rst linter
  .woodpecker/.lint.yml
  docs/copyright.rst
  docs/faq.rst
  docs/intro.rst
  docs/manual.rst
  docs/output.rst
  docs/quick_start.rst
  docs/validate.rst
  readme.rst
  utils/requirements.txt
Due: none

cleanup cli
  docs/cli.rst
  docs/manual.rst
  src/general_io.cpp
Due: build_slabcc, slabcc

start rst lint in parallel
  .woodpecker/.lint.yml
Due: none

trigger lint jobs when job def changes
  .woodpecker/.lint.yml
Due: none

fix misspell
  docs/cli.rst
  docs/manual.rst
  src/general_io.cpp
Due: build_slabcc, slabcc

fix string
  src/general_io.cpp
Due: build_slabcc, slabcc

update docs
  docs/faq.rst
Due: none

add man make target
  bin/makefile
Due: build_slabcc, slabcc

activate compiler warning checks
  bin/makefile
Due: build_slabcc, slabcc

update logs
  docs/input.rst
  docs/manual.rst
  docs/validate.rst
  readme.rst
  src/slabcc.cpp
  src/slabcc_model.cpp
Due: build_slabcc, slabcc

cleanup compiler flags
  bin/makefile
Due: build_slabcc, slabcc

disable -Wtautological-constant-compare for clang
  bin/makefile
Due: build_slabcc, slabcc

remove algorithm from readme
  docs/.manual.rst.template
  docs/algorithm.rst
  docs/intro.rst
  readme.rst
Due: none

log compiler info
  .gitignore
  bin/makefile
  src/inih/cpp/INIReader.cpp
Due: build_slabcc, slabcc

log source git comit
  .gitignore
  bin/makefile
  src/general_io.cpp
  src/inih/cpp/INIReader.cpp
  src/slabcc.cpp
  tests/makefile
  utils/git_commit.sh
Due: build_slabcc, slabcc

update armadillo attributions from new version
  docs/copyright.rst
  docs/manual.rst
  readme.rst
  src/general_io.cpp
Due: build_slabcc, slabcc

rename stdafx.h to slabcc_info.hpp
  src/slabcc_info.hpp
  src/stdafx.cpp
  src/targetver.h
Due: build_slabcc, slabcc

refactor dependencies
  bin/makefile
  src/general_io.hpp
  src/inih/cpp/INIReader.h
  src/madelung.hpp
  src/slabcc.cpp
  src/slabcc.hpp
  src/slabcc_info.hpp
Due: build_slabcc, slabcc

document historic MS compatibility
  docs/validate.rst
Due: none

rm fftw for win
  src/fftw/COPYING
  src/fftw/COPYRIGHT
  src/fftw/NEWS
  src/fftw/README
  src/fftw/README-WINDOWS
  src/fftw/README-bench
  src/fftw/bench.exe
  src/fftw/benchf.exe
  src/fftw/benchl.exe
  src/fftw/fftw-wisdom.exe
  src/fftw/fftw3.f
  src/fftw/fftw3.f03
  src/fftw/fftw3.h
  src/fftw/fftw3l.f03
  src/fftw/fftw3q.f03
  src/fftw/fftwf-wisdom.exe
  src/fftw/fftwl-wisdom.exe
  src/fftw/libfftw3-3.def
  src/fftw/libfftw3-3.dll
  src/fftw/libfftw3-3.exp
  src/fftw/libfftw3-3.lib
  src/fftw/libfftw3f-3.def
  src/fftw/libfftw3f-3.dll
  src/fftw/libfftw3f-3.exp
  src/fftw/libfftw3f-3.lib
  src/fftw/libfftw3l-3.def
  src/fftw/libfftw3l-3.dll
  src/fftw/libfftw3l-3.exp
  src/fftw/libfftw3l-3.lib
Due: build_slabcc, slabcc

refactor makefile
  bin/makefile
Due: build_slabcc, slabcc

update docs
  docs/manual.rst
  readme.rst
Due: none

refactor makefile for readability
  bin/makefile
  docs/install.rst
  docs/manual.rst
  readme.rst
  utils/git_commit.sh
Due: build_slabcc, slabcc

install diffutils in almalinux
  utils/install_pkgs.sh
Due: build_slabcc, slabcc

add makefile linter
  .woodpecker/.lint.yml
  bin/makefile
  tests/makefile
Due: build_slabcc, slabcc

document commit sha source
  .woodpecker/.lint.yml
  bin/makefile
  docs/validate.rst
  utils/git_commit.sh
  utils/install_pkgs.sh
Due: build_slabcc, slabcc

organize badges
  .readme.rst.template
  docs/manual.rst
  docs/quick_start.rst
  readme.rst
Due: none

cleanup makefile
  bin/makefile
  utils/install_pkgs.sh
Due: build_slabcc, slabcc

recursive make
  bin/makefile
  utils/deploy_pages.sh
Due: build_slabcc, slabcc

keep pages ci yml
  utils/deploy_pages.sh
Due: none

document code path in logs
  src/general_io.cpp
  src/slabcc.cpp
  src/slabcc_input.cpp
  src/slabcc_model.cpp
  utils/build_pages.sh
  utils/git_commit.sh
Due: build_slabcc, slabcc

remove interface from bulk calculation logs
  src/slabcc.cpp
  src/slabcc_model.cpp
Due: build_slabcc, slabcc

Path conditions:
  build_slabcc: any of: bin/*, src/**, .woodpecker/.build_slabcc.yml, utils/install_pkgs.sh
  slabcc: any of: bin/*, src/**, tests/**, .woodpecker/.slabcc.yml, utils/install_pkgs.sh
